* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  --bg: rosybrown;
}
body {
  margin: 20px;
  text-align: center;
  background-color: azure;
}
header {
  padding: 20px 30px;
  color: purple;
  font-weight: 500;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
}
/* shape containers */
.container > div {
  margin: 10px;
  width: 240px;
  height: 240px;
  background-color: rgb(253, 212, 129);
  box-shadow: 0 0 5px hsl(40, 72%, 59%);
  border: solid 1px hsl(40, 72%, 59%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* shape labels */
p {
  padding: 10px 0;
}
/* circle */
.circle {
  background-color: var(--bg);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* oval */
.oval {
  background-color: var(--bg);
  width: 160px;
  height: 100px;
  border-radius: 50%;
}
/* triangle1 */
.triangle1 {
  border-left: solid 60px transparent;
  border-right: solid 60px transparent;
  border-bottom: solid 60px var(--bg);
}
/* triangle2 */
.triangle2 {
  border-left: solid 40px transparent;
  border-right: solid 40px transparent;
  border-bottom: solid 130px var(--bg);
}
/* square */
.square {
  background-color: var(--bg);
  width: 120px;
  height: 120px;
}
/* rectangle */
.rectangle {
  background-color: var(--bg);
  width: 160px;
  height: 100px;
}

